@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Kodchasan:wght@200&family=Montserrat+Alternates:wght@100;300;500&family=Poppins:wght@100;400;600&display=swap");
.app__section {
  /* width: 100vw; */
  height: 100vh;
}
.app__container {
  position: relative;
  background: #fff;
  border: 10px solid #7b9e89;
  border-radius: 15px;
  margin-top: 30px;
  width: 50vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.app__bckgrndImg {
  position: relative;
  width: 50%;
  left: -130px;
}
.app__caption {
  margin: 20px;
  text-align: center;
}
.formSubmit {
  background: #aa4465;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  font-family: "Montserrat Alternates", sans-serif;
  padding: 10px;
  border: none;
}
.formSubmit:hover {
  background: #c1292e;
  cursor: pointer;
}
/* Events Section */
.events__container {
  margin-top: 80px;
  background: #f4dbd8;
}
.event__caption {
  text-align: center;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 300;
  padding: 60px 30px;
  line-height: 19px;
}

.stepsWrapper {
  width: 90%;
  margin: 0 auto;
}

.footer-buttons {
  margin-top: 63px;
  margin-bottom: 40px;
}

button#prev-button {
  margin-right: 40px;
  background: #34495e;
}
button#prev-button:hover {
  background: #b71540;
}

button#next-button {
  background: #34495e;
}
button#next-button:hover {
  background: #b71540;
}

ol.progtrckr {
  list-style-type: none;
  padding: 0;
}
ol.progtrckr li {
  display: inline-block;
  text-align: center;
  line-height: 4.5rem;
  cursor: pointer;
}
ol.progtrckr li span {
  padding: 0 1.5rem;
}
@media (max-width: 650px) {
  .progtrckr li span {
    display: none;
  }
}
.progtrckr em {
  display: none;
  font-weight: 700;
  padding-left: 1rem;
}

@media (max-width: 650px) {
  .progtrckr em {
    display: inline;
  }
}
ol.progtrckr li.progtrckr-todo {
  color: silver;
  border-bottom: 4px solid silver;
}
ol.progtrckr li.progtrckr-doing {
  color: black;
  border-bottom: 4px solid #cccccc;
}
ol.progtrckr li.progtrckr-done {
  color: black;
  border-bottom: 4px solid #34495e;
}
ol.progtrckr li:after {
  content: "\00a0\00a0";
}
ol.progtrckr li:before {
  position: relative;
  bottom: -3.7rem;
  float: left;
  left: 50%;
}
ol.progtrckr li.progtrckr-todo:before {
  content: "\039F";
  color: silver;
  background-color: white;
  width: 1.2em;
  line-height: 1.4em;
}
ol.progtrckr li.progtrckr-todo:hover:before {
  color: #ff4500;
}
ol.progtrckr li.progtrckr-doing:before {
  content: "\2022";
  color: white;
  background-color: #cccccc;
  width: 1.2em;
  line-height: 1.2em;
  border-radius: 1.2em;
}
ol.progtrckr li.progtrckr-doing:hover:before {
  color: #ff4500;
}
ol.progtrckr li.progtrckr-done:before {
  content: "\2713";
  color: white;
  background-color: #34495e;
  width: 1.2em;
  line-height: 1.2em;
  border-radius: 1.2em;
}
ol.progtrckr li.progtrckr-done:hover:before {
  color: #333;
}
/* Event Card */

/* Media Query for low resolution  Tablets, Ipads */

@media (min-width: 481px) and (max-width: 767px) {
  .app__container {
    width: 80vw;
  }
  .app__bckgrndImg {
    position: relative;
    width: 100%;
    left: -130px;
  }
  button#prev-button {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .event__caption {
    line-height: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .app__container {
    width: 80vw;
  }
  button#prev-button {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
